In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.5.2'

In [5]:
df = pd.read_csv('yellow_tripdata_2021-01.csv,'index_col=0)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

C:\Users\gabri\AppData\Local\Temp\ipykernel_4400\3053160171.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv')

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(engine)

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [9]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',index_col=0, iterator=True, chunksize=100000)
df9 = next(df_iter)
len(df9)

100000

In [11]:
df9.tpep_pickup_datetime = pd.to_datetime(df9.tpep_pickup_datetime)
df9.tpep_dropoff_datetime = pd.to_datetime(df9.tpep_dropoff_datetime)

In [13]:
df9.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [14]:
df9.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [15]:
%time df9.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 4.81 s
Wall time: 10.2 s

1000

In [30]:
from time import time

df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',index_col=0 , iterator=True, chunksize=100000)
while True:
    t_start = time()
    df = next(df_iter)
    
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 11.150 second
inserted another chunk..., took 10.169 second
inserted another chunk..., took 10.095 second
inserted another chunk..., took 12.131 second
inserted another chunk..., took 15.580 second
inserted another chunk..., took 17.107 second
inserted another chunk..., took 15.761 second
inserted another chunk..., took 15.858 second
inserted another chunk..., took 14.962 second
inserted another chunk..., took 16.260 second
inserted another chunk..., took 12.689 second
inserted another chunk..., took 12.020 second

C:\Users\gabri\AppData\Local\Temp\ipykernel_4400\3814674524.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 16.495 second
inserted another chunk..., took 10.299 second

StopIteration: